<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <display-name>reg_log</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>serv</display-name>
    <servlet-name>serv</servlet-name>
    <servlet-class>serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>reg_log.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletlogin</display-name>
    <servlet-name>Servletlogin</servlet-name>
    <servlet-class>servlets.Servletlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletlogin</servlet-name>
    <url-pattern>/Servletlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser</display-name>
    <servlet-name>Ser</servlet-name>
    <servlet-class>reg_log.Ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser</servlet-name>
    <url-pattern>/Ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser1</display-name>
    <servlet-name>Ser1</servlet-name>
    <servlet-class>reg_log.Ser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser1</servlet-name>
    <url-pattern>/Ser1</url-pattern>
  </servlet-mapping>
</web-app>